*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Raleway');
/* font-family: 'Raleway', sans-serif; */

.ttl{
    font-size: 2.5em;
    text-align: center;
}

@media screen and (min-width: 500px){
    .linked{ 
        max-width: 150px;
    }
    .row{
        background: #f8f9fa;
    }
}

.discos{
    display: flex;
}

.discocard{
    background: green;
}